---
import PopupWrapper from "../../city/PopupWrapper";

const image = "/ueber-uns-team.jpg";
---

<section class="bg-cover bg-center bg-cr">
  <div class="overlay">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-24 lg:px-6"
    >
      <img class="shw w-full dark:hidden" src={image} alt="dashboard image" />
      <img
        class="shw w-full hidden dark:block"
        src={image}
        alt="dashboard image"
      />
      <div class="mt-4 md:mt-0 text-left">
        <h2
          class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Ihre Teppichreinigung in Baden W체rttemberg
        </h2>
        <p
          class="mb-6 font-light text-gray-500 md:text-base dark:text-gray-400"
        >
          <span class="font-bold"
            >Wir sind ein Dienstleistungsunternehmen aus Heilbronn und unser
            Ziel ist die Zufriedenheit unserer Kunden. Wir existieren seit
            Februar 2001 und sind von einem kleinen Betrieb zu einer modernen
            Teppichw채scherei gewachsen.
          </span>Im Raum Heilbronn existiert kein 채hnlicher Service, der mit
          modernsten Maschinen und bestem Know-how Teppiche reinigt und pflegt.
          Mit unserer Erfahrung aus 체ber 15 Jahren und der Liebe zu unserem
          Handwerk geben wir alles, um unsere Kunden zufriedenzustellen.
        </p>
        <PopupWrapper client:load />
      </div>
    </div>
  </div>
</section>

<style>
  img {
    border-radius: 8px;
  }

  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }

  .bg-cr {
    background-color: #d3d3d35e;
  }

  .btnbox {
    justify-content: flex-start !important;
  }

  @media (width <= 767px) {
    section {
      padding: 2rem;
    }
  }
</style>
