<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-16 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Ablauf Teppichreinigung
      </h2>
      <p class="mb-4">
        Zunächst wird der Teppich in Wasser eingeweicht und grober Schmutz sowie
        Staub löst sich. Das Feinwaschmittel frischt die Farben auf und entfernt
        auch hartnäckigen Schmutz.Die moderne Waschanlage stellt sicher, dass
        die Fasern von allen Seiten gewaschen werden und festsitzende
        Verschmutzungen können mit höherem Wasserdruck per Hand entfernt werden.
        Im nächsten Schritt wird der Teppich mit klarem Wasser gespült und
        Feinwaschmittelreste entfernt. Schließlich findet die Entwässerung und
        Trocknung des Teppichs statt.Auf hohe Hitze verzichten wir, so dass
        feine Fasern nicht beschädigt werden. Unser Personal prüft den Teppich
        und stellt damit höchste Qualität sicher.
      </p>
      <p>
        <strong class="uppercase font-bold"
          >Nun strahlt der Teppich wie neu. Gerne bringen wir den Teppich zu
          Ihnen nach Hause oder Sie entscheiden sich für die persönliche
          Abholung.</strong
        >
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src="Teppichreinigung Professionell bei uns.webp"
        alt="Teppichreinigung Professionell bei uns"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src="Teppich Trockenraum.webp"
        alt="Teppich Trockenraum"
      />
    </div>
  </div>
</section>

<style>
  @media (width <= 767px) {
    section {
      padding: 2rem;
    }
  }
</style>
