---
import PopupWrapper from "../../city/PopupWrapper";
---

<section class="py-12 pb-20 mx-auto bg-crs bg-gray-200 flex justify-center">
  <div class="p-8 max-w-screen-xl">
    <!-- Titel -->
    <h2 class="text-3xl font-extrabold text-gray-900 mb-6">
      Ihre Zufriedenheit ist unser Auftrag
    </h2>

    <!-- Erster Textblock -->
    <p class="text-base text-gray-700 mb-6">
      Rufen Sie uns an, schreiben Sie uns eine E-Mail, nutzen Sie unser
      Kontaktformular oder hinterlassen Sie Ihre Nummer. Wir rufen Sie dann
      gerne zurück. Gerne beantworten wir Ihre Fragen und erstellen für Sie ein
      günstiges Angebot. Natürlich bieten wir den Abhol- und Bringservice an.
      Wenn Sie den Teppich selbst vorbeibringen möchten, können Sie das
      jederzeit zu unseren Geschäftszeiten tun.
    </p>

    <!-- Zwei Blöcke nebeneinander bei größeren Bildschirmen -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <p class="text-base text-gray-700">
          <strong
            >Orientteppiche und Wollteppiche umweltschonend reinigen</strong
          > Jeder Teppich ist ein Unikat. Deshalb beraten wir Sie individuell und
          empfehlen den optimalen Reinigungsprozess. Gerne holen wir den Teppich
          bei Ihnen ab - oder sie entscheiden sich für das Selbstbringen und wir
          belohnen Ihre Mühen mit einem Rabatt. Jeder Teppich wird vor der Reinigung
          vermessen und auf Schäden untersucht. Der Waschvorgang ist umweltschonend
          und die Feinwaschmittel biologisch vollabbaubar. Wir verwenden keine phosphathaltigen
          Mittel!.
        </p>
      </div>
      <div>
        <p class="text-base text-gray-700">
          Überzeugen Sie sich von unserer einzigartigen Dienstleistung. Zu
          unserem Service gehört auch ein <strong
            >Abhol- und Lieferdienst</strong
          >, der ab einem <strong>Auftragswert von 100,00 Euro</strong> für Sie gratis
          ist. Selbstverständlich kann sich jeder Kunde persönlich von der Qualität
          unserer Arbeit an Ort und Stelle überzeugen. Besucher sind uns jederzeit
          herzlich willkommen, denn Qualität und Transparenz gehen bei uns Hand in
          Hand.
        </p>
      </div>
    </div>
    <PopupWrapper client:load />
  </div>
</section>

<style>
  .btnbox {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 32px;
  }

  button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;

    transition: 1s ease-in-out;
  }

  button:hover {
    border: 2px solid turquoise;
    transform: scale(1.008);
  }

  .bg-cr {
    background-color: #d3d3d35e;
  }
</style>
