.buttonz {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;
    color:white;
    font-weight: 700;
    font-size: 18px;
    padding: 10px 25px;
    transition: 1s ease-in-out;
    margin-top: 2rem;
}

.buttonz:hover {
    border: 2px solid turquoise;
    transform: scale(1.008);
    background-color: #125923;
}