
body {
    font-family: "Montserrat Variable", sans-serif;
}

section {
    display: flex;
    justify-content: center;
}

.bg {
    background-image: url("/autositze-hero.jpg");
    background-position: center;
}

.overlay {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgb(0 0 0 / 25%);
    width: 100%;
}
