---
const imageSrc = "/gerissener-teppich.webp";
---

<section class="bg-gray-900">
  <div
    class="gap-8 items-center py-16 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-24 lg:px-6"
  >
    <div>
      <h2 class="mb-4 text-3xl tracking-tight font-bold text-white">
        MANCHES IST AUCH DEM BESTEN TEPPICH ZU VIEL
      </h2>
      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        Teppiche müssen einiges aushalten, das liegt in ihrer Natur. Bei manchen
        Unfällen und Gewalteinwirkungen ist aber auch
      </p>
      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        der beste Qualitätsteppich hilflos ausgeliefert. Menschen mit jungen
        Tieren können ein Lied davon singen: Der Welpe
      </p>
      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        knabbert immer wieder am Teppichrand, zerlegt die Fransen in
        mikroskopisch kleinen Teilchen oder frisst gleich ganze
      </p>

      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        Ecken ab. Die Katze schärft ihre Krallen ausgerechnet am Perser und das
        Meerschweinchen hat ihn zum Fressen gern.
      </p>
    </div>
    <img
      class="ds hidden mx-auto w-64 md:flex"
      src={imageSrc}
      alt="mobile app"
    />
  </div>
</section>

<style>
  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }

  img {
    object-fit: cover;
    min-width: 350px;
    min-height: 350px;
    width: 100%;
    max-height: 400px;
  }

  .ds {
    filter: drop-shadow(16px 16px 16px gray);
  }

  @media (width <= 767px) {
    section {
      padding: 4rem 2rem;
    }

    section > div {
      padding: 0;
    }
  }
</style>
