---
import "@fontsource-variable/montserrat";
---

<section>
  <div class="overlay">
    <div class="cover">
      <div class="top">
        <h3 class="text-4xl font-bold mb-1 text-white">
          REICHT REGELMÄSSIGES SAUGEN ZUR PFLEGE DES TEPPICHS ?
        </h3>
      </div>
      <div class="bottom max-w-screen-xl">
        <div class="btnbox">
          <p class="text-center mb-3 font-bold text-white leading-relaxed">
            Um die Antwort vorwegzunehmen – nein, leider nicht.Staubkörnchen
            dringen tief zwischen die einzelnen Teppichfasern ein und lagern
            sich in der Folge direkt an den Fasern ab. Wer schon einmal
            Bodenstaub zwischen den Fingern zerrieben hat, weiß, dass er alles
            andere als weich ist. Unter dem Mikroskop zeigt jedes Körnchen
            messerscharfe Ecken und Kanten und ähnelt einem Glassplitter. Bei
            jedem Druck und bei jeder Bewegung reiben die Staubkörnchen an der
            Faser, verletzen dabei die Faserhülle und zerstören sie mit der
            Zeit.Kein noch so gründlicher Staubsauger kann alle Staubteilchen
            entfernen. Auch Dampfreiniger und Schamponiergeräte stoßen an ihre
            Grenzen.Nicht nur Staubteilchen bleiben in den Teppichfasern,
            sondern auch die
          </p>
        </div>
        <div class="btnbox">
          <a
            href="tel:071312795256"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded button"
          >
            Jetzt anrufen
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  body {
    font-family: "Montserrat Variable", sans-serif;
  }

  .btnbox {
    display: flex;
    justify-content: center;
  }

  .button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgba(43, 47, 172, 0.4) 0px 7px 29px 0px;
    margin-top: 1.5rem;
    transition: 1s ease-in-out;
  }

  .button:hover {
    border: 2px solid turquoise;
    transform: scale(1.008);
  }

  .overlay {
    background-image: url("/staubsauger.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  h3 {
    color: white;
    margin-bottom: 1.5rem;
  }

  .cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 60px;
    background-color: #05003ea2;
  }

  button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;
  }

  @media (width <= 500px) {
    .cover {
      padding: 60px 20px;
    }

    .btnbox {
      padding-top: 0;
    }
    .top {
      text-align: center;
    }

    .bottom {
      padding: 0 20px;
    }

    p {
      letter-spacing: 1.24px;
      line-height: 1.65;
    }
  }
</style>
