---
const imageSrc = "/teppich-selber-reinigen.jpg";
---

<section class="bg-gray-900">
  <div
    class="gap-8 items-center py-16 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-24 lg:px-6"
  >
    <div>
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-white">
        Teppichreinigung selber machen - Wie sieht die richtige Pflege Ihres
        Teppichs aus?
      </h2>
      <p
        class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400 pt-4"
      >
        Sicherlich saugen Sie einmal oder vielleicht auch mehrmals wöchentlich.
        Bei glatten, kurzflorigen Teppichen saugen Sie am besten mit der
        ausgefahrenen Bürste, bei langflorigen
      </p>
      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        mit der glatten Düse.Passiert ein kleines Unglück und Sie verschütten
        etwas, tupfen Sie die Flüssigkeit sofort auf und reinigen mit lauwarmem
        Wasser nach.
      </p>
      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        Wenn Sie Kinder oder Haustiere haben, reinigen Sie Ihren Teppich
        regelmäßig. Sie nehmen den Frühjahrs- und Weihnachtsputz zum Anlass, ihn
        besonders gründlich zu
      </p>

      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        reinigen. Das alles sind sinnvolle und richtige Maßnahmen, um einen
        Teppich sauber zu halten.
      </p>
    </div>
    <img
      class="ds hidden mx-auto w-64 md:flex"
      src={imageSrc}
      alt="mobile app"
    />
  </div>
</section>

<style>
  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }

  img {
    object-fit: cover;
    min-width: 350px;
    min-height: 350px;
    width: 100%;
    max-height: 400px;
  }

  .ds {
    filter: drop-shadow(16px 16px 16px gray);
  }
</style>
