---
import PopupWrapper from "../../city/PopupWrapper";

const image = "/kettung-von-den-teppichen.webp";
---

<section class="bg-cover bg-center bg-cr">
  <div class="overlay">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-1 sm:py-24 lg:px-6"
    >
      <div class="mt-4 md:mt-0 text-left">
        <h2
          class="mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white"
        >
          Wir Beraten Sie gerne
        </h2>
        <p
          class="mb-6 font-light text-gray-500 md:text-base dark:text-gray-400"
        >
          <span class="font-bold"
            >Ihr Teppich ist ein Unikat und wir behandeln jeden Teppich
            individuell. Denn jedes Material, jede Farbe und jede Struktur ist
            verschieden. Unser erfahrenes Team wird für Sie die beste Lösung
            suchen und berät sehr gerne über Alternativen.Selbstverständlich
            informieren wir Sie über unser Angebot vor Ort oder am Telefon.
          </span>Wir sehen uns als Unternehmen im Dienstleistungsbereich und
          sind seit Februar 2001 von einem kleinen Betrieb zu einer modernen
          Teppichwäscherei gewachsen. Im Raum Heilbronn gibt es keinen
          vergleichbaren Service. Wir beherrschen unser Handwerk in Perfektion
          und sehen Ihre Zufriedenheit als unseren Auftrag. Rufen Sie uns an
          oder hinterlassen Sie Ihre Telefonnummer. Wir setzen uns mit Ihnen
          gerne in Verfügung, beantworten Fragen und erstellen für Sie ein
          günstiges und individuelles Angebot. Gerne holen wir den Teppich bei
          Ihnen ab und bringen diesen auch wieder zu Ihnen nach Hause. Oder
          möchten Sie Ihren Teppich lieber selbst vorbei bringen? Kein Problem -
          Sie können Ihren Teppich zu den regulären Öffnungszeiten jederzeit
          selbst anliefern. Wir freuen uns auf Sie.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  img {
    border-radius: 8px;
  }

  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }

  .bg-cr {
    background-color: #d3d3d35e;
  }

  .btnbox {
    justify-content: flex-start !important;
  }

  @media (width <= 767px) {
    section {
      padding: 4rem 2rem;
    }

    .overlay > div {
      padding: 0;
    }
  }
</style>
