---
import "@fontsource-variable/montserrat";
---

<main>
  <section>
    <div class="cover">
      <div class="overlay">
        <div class="top">
          <h6 class="mobile text-lg text-white">
            Mit Hausmittel selber reinigen?
          </h6>
          <h3 class="text-3xl font-bold mb-1 text-white">
            Oder Professionell reinigen lassen?
          </h3>
        </div>
        <div class="bottom">
          <p
            class="text-shadow text-left mb-3 text-white md:text-base font-normal"
          >
            Bei leichten Flecken greifen viele Personen zu Hausmitteln. Hier ein
            paar Möglichkeiten, wie Sie selbst versuchen können, die Flecken<br
            />
            loszuwerden. Dennoch empfehlen wir, regelmäßig eine professionelle Reinigung
            vom Fachmann.
          </p>
          <div class="btnbox">
            <button
              class="px-5 py-3 text-base font-bold text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
              >Reinigung besprechen</button
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<style>
  body {
    font-family: "Montserrat Variable", sans-serif;
  }

  .btnbox {
    display: flex;
    justify-content: center;
  }

  button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 20%) 0px 7px 29px 0px;
    margin-top: 1.5rem;
    transition: 1s ease-in-out;
  }

  button:hover {
    border: 2px solid turquoise;
    transform: scale(1.008);
  }

  .text-shadow {
    text-shadow: 2px 2px 4px black;
    letter-spacing: 1.3px;
    line-height: 1.5;
  }

  section {
    background-image: url("/sauberes-auto.webp");
    background-size: 104% 100%;
    background-position: center;
  }
  .overlay {
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.558);
    background-repeat: no-repeat;
  }

  .cover {
    width: 100%;
    height: 100%;
  }

  h3 {
    color: white;
    margin-bottom: 1.5rem;
  }

  button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;
  }

  @media (width <= 767px) {
    section {
      background-size: cover;
      background-position: center;
    }
  }
</style>
