---
import PopupWrapper from "../../city/PopupWrapper";

const image = "/reinigung-auto-sitze.webp";
---

<section class="bg-cover bg-center bg-white">
  <div class="overlay">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-24 lg:px-6"
    >
      <h6 class="mobile text-lg dark:text-white">Komfort und Sauberkeit</h6>
      <h2
        class="mobile mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white"
      >
        Brauchen Ihre Autositze eine Reinigung?
      </h2>
      <img class="shw w-full dark:hidden" src={image} alt="dashboard image" />
      <img
        class="shw w-full hidden dark:block rounded"
        src={image}
        alt="dashboard image"
      />
      <div class="mt-4 md:mt-0">
        <h6 class="text-lg dark:text-white desktop">
          Warum Autositze reinigen?
        </h6>
        <h2
          class="desktop mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white"
        >
          Haben Sie auch das Gefühl, dass Ihre Autositze mal<br /> wieder eine neue
          Reinigung benötigen?
        </h2>
        <p class="font-light text-black md:text-base">
          <span class="font-bold"
            >Haben Ihre Kinder mal wieder auf den Rückbänken mit Essen gekleund
            finden sich nun unschöne Flecken auf dem Polster? Alles kein
            Problem, wir helfen Ihnen gerne weiter. Denn es gibt viele
            verschiedene Mittel, die hier optimal zum Einsatz kommen können und
            sehr gut wirken, um den Schmutz zu entfernen. Das Auto wird so fast
            wieder wie neu und auch die Autositze werden wieder sehr schön rein
            und frisch sein. Hier gibt es einige Hausmittel, die der
            professionellen Reinigung vom Fachmann optimal einsetzen können. Und
            wenn Sie nicht mehr weiter wissen und die Flecken nicht weg gehen
            wollen, dann kommen Sie einfach zu uns!
          </span>
        </p>
        <PopupWrapper client:load />
      </div>
    </div>
  </div>

  <style>
    img {
      border-radius: 8px;
    }

    .shw {
      box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
    }

    .mobile {
      display: none;
    }

    astro-island {
      padding-top: 5000px !important;
    }

    @media (width <= 767px) {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
      }

      section {
        padding: 3rem 2rem;
      }

      .overlay > div {
        padding: 0;
      }

      img {
        margin: 2rem 0;
      }
    }
  </style>
</section>
