---
import { fade, slide, ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Hero from "../components/allgemein/Datenschutz/Hero.astro";
import Footer from "../components/Footer.astro";
import RugBanner from "../components/RugBanner.astro";
import CtaSection from "../components/allgemein/Datenschutz/CtaSection.astro";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />

    <!-- SEO Component -->
    <SEO
      title="Datenschutzerklärung – ENSA Teppichreinigung"
      description="Erfahren Sie, wie ENSA Teppichreinigung Ihre Daten schützt und verwendet. Lesen Sie unsere umfassende Datenschutzerklärung."
    />

    <!-- Schema.org Component -->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "WebPage",
        name: "Datenschutzerklärung",
        description:
          "Informationen zur Datenverarbeitung und Datenschutzbestimmungen von ENSA Teppichreinigung.",
      }}
    />
  </head>
  <body>
    <Header transition:animate={fade({ duration: "0.4s" })} />
    <Hero transition:animate={fade({ duration: "0.4s" })} />
    <CtaSection transition:animate={slide({ duration: "0.8s" })} />
    <RugBanner />
    <Footer />
  </body>
</html>
