---
import { fade, slide, ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Service from "../components/Service.astro";
import FAQ from "../components/FAQ.astro";
import Regionen from "../components/Regionen.astro";
import Footer from "../components/Footer.astro";
import RugBanner from "../components/RugBanner.astro";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
import Cookie from "../components/allgemein/Cookiebanner/Cookie.astro";
---

<html lang="de">
  <head>
    <meta charset="UTF-8" />

    <SEO
      title="ENSA Teppichreinigung"
      description="Professionelle Teppich- und Polsterreinigung in Heilbronn und Umgebung. Umweltfreundliche Reinigungsverfahren und kostenfreier Abhol- und Bringservice ab 99 Euro."
      openGraph={{
        basic: {
          title: "ENSA Teppichreinigung - Ihr Partner für saubere Teppiche",
          type: "website",
          image:
            "https://ensa-teppichreinigung/Teppichbodenreingung-Professionell.webp",
          url: "https://ensa-teppichreinigung.de",
        },
      }}
      twitter={{
        creator: "@ensateppichreinigung",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content:
              "https://ensa-teppichreinigung/Teppichbodenreingung-Professionell.webp",
          },
          { name: "twitter:title", content: "ENSA Teppichreinigung" },
          {
            name: "twitter:description",
            content:
              "Umweltfreundliche Teppich- und Polsterreinigung in Heilbronn mit kostenfreiem Abhol- und Bringservice.",
          },
        ],
      }}
    />
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        name: "ENSA Teppichreinigung",
        description:
          "Professionelle Teppich- und Polsterreinigung in Heilbronn und Umgebung. Umweltfreundliche Reinigungsmittel und kostenfreier Abhol- und Bringservice.",
        telephone: "+4971312795256",
        email: "info@ensa-teppichreinigung.de",
        address: {
          "@type": "PostalAddress",
          streetAddress: "Dammstraße 29/a",
          addressLocality: "Heilbronn",
          postalCode: "74072",
          addressCountry: "DE",
        },
        url: "https://ensa-teppichreinigung.de",
        image:
          "https://ensa-teppichreinigung/Teppichbodenreingung-Professionell.webp",
        sameAs: [
          "https://www.instagram.com/ensa_teppichreinigung",
          "https://www.facebook.com/ensateppichreinigung",
        ],
        openingHours: "Mo-Fr 08:00-18:00",
        areaServed: {
          "@type": "Place",
          name: "Heilbronn, Stuttgart, Ludwigsburg, Mannheim, Karlsruhe, Pforzheim",
        },
        priceRange: "$$",
        contactPoint: {
          "@type": "ContactPoint",
          telephone: "+4971312795256",
          contactType: "Customer Service",
          areaServed: "DE",
          availableLanguage: ["Deutsch"],
        },
      }}
    />
    <meta name="robots" content="index, follow" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>

  <ViewTransitions />



  <body>
    <Header transition:animate={fade({ duration: "0.4s" })} />
    <Cookie />
    <Hero transition:animate={slide({ duration: "0.8s" })} />
    <About transition:animate={slide({ duration: "0.8s" })} />
    <Service />
    <FAQ />
    <Regionen />
    <RugBanner />
    <Footer />
  </body>

</html>
