---
import { fade, ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
import Service from "../components/Service.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      is:inline
      src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"
    ></script>

    <ViewTransitions />

    <title>Astro</title>
  </head>
  <body>
    <Header transition:animate={fade({ duration: "0.4s" })} />
    <Hero />
    <About />
    <Service />
  </body>
</html>
