---
import { fade, slide, ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Hero from "../components/leistungen/Matratzen/Hero.astro";
import Footer from "../components/Footer.astro";
import Mail from "../components/Mail.astro";
import RugBanner from "../components/RugBanner.astro";
import CtaSection from "../components/leistungen/Matratzen/CtaSection.astro";

import Banner from "../components/leistungen/Matratzen/Banner.astro";
import FooterBanner from "../components/FooterBanner.astro";
import CtaSection2 from "../components/leistungen/Matratzen/CtaSection2.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <ViewTransitions />

    <title>Matratzen</title>
  </head>
  <body>
    <Mail />
    <Header transition:animate={fade({ duration: "0.4s" })} />
    <Hero transition:animate={fade({ duration: "0.4s" })} />
    <CtaSection transition:animate={slide({ duration: "0.8s" })} />
    <CtaSection2 transition:animate={slide({ duration: "0.8s" })} />
    <Banner />
    <FooterBanner />
    <RugBanner />
    <Footer />
  </body>
</html>
