---
import { fade, slide, ViewTransitions } from "astro:transitions";
import Header from "../components/Header.astro";
import Hero from "../components/leistungen-detail/Über-uns/Hero.astro";
import Footer from "../components/Footer.astro";
import RugBanner from "../components/RugBanner.astro";
import CtaSection from "../components/leistungen-detail/Über-uns/CtaSection.astro";
import Banner from "../components//leistungen-detail/Über-uns/Banner.astro";
import FooterBanner from "../components/leistungen-detail/Über-uns/FooterBanner.astro";
import CtaSection2 from "../components/leistungen-detail/Über-uns/CtaSection2.astro";
import { SEO } from "astro-seo";
import { Schema } from "astro-seo-schema";
---

<html lang="de">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <!-- SEO Tags -->
    <SEO
      title="Über uns - ENSA Teppichreinigung"
      description="Erfahren Sie mehr über ENSA Teppichreinigung, Ihr Partner für gründliche Teppichreinigung mit Erfahrung, Qualität und Sorgfalt."
      openGraph={{
        basic: {
          title: "Über uns - ENSA Teppichreinigung",
          type: "website",
          image:
            "https://ensa-teppichreinigung.de/Hol%20und%20Lieferwagen%20Motorhaube.webp",
          url: "https://ensa-teppichreinigung.de/ueber-uns",
        },
      }}
      twitter={{
        creator: "@ensateppichreinigung",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content:
              "https://ensa-teppichreinigung.de/Hol%20und%20Lieferwagen%20Motorhaube.webp",
          },
          { name: "twitter:title", content: "Über uns" },
          {
            name: "twitter:description",
            content:
              "Erfahren Sie mehr über die ENSA Teppichreinigung und unsere professionellen Dienstleistungen.",
          },
        ],
      }}
    />

    <!-- Schema.org structured data -->
    <Schema
      item={{
        "@context": "https://schema.org",
        "@type": "LocalBusiness",
        name: "ENSA Teppichreinigung",
        description:
          "Wir bieten professionelle Teppichreinigung in Baden-Württemberg, basierend auf über 15 Jahren Erfahrung und modernster Technik.",
        telephone: "+4971312795256",
        email: "info@ensa-teppichreinigung.de",
        address: {
          "@type": "PostalAddress",
          streetAddress: "Dammstraße 29/a",
          addressLocality: "Heilbronn",
          postalCode: "74072",
          addressCountry: "DE",
        },
        url: "https://ensa-teppichreinigung.de",
        image:
          "https://ensa-teppichreinigung.de/Hol%20und%20Lieferwagen%20Motorhaube.webp",
        sameAs: [
          "https://www.instagram.com/ensa_teppichreinigung",
          "https://www.facebook.com/ensateppichreinigung",
        ],
        openingHours: "Mo-Fr 08:00-18:00",
        areaServed: {
          "@type": "Place",
          name: "Heilbronn, Stuttgart, Ludwigsburg, Mannheim, Karlsruhe, Pforzheim",
        },
        priceRange: "$$",
        contactPoint: {
          "@type": "ContactPoint",
          telephone: "+4971312795256",
          contactType: "Customer Service",
          areaServed: "DE",
          availableLanguage: ["Deutsch"],
        },
      }}
    />
    <meta name="robots" content="index, follow" />
  </head>

  <body>
    <Header transition:animate={fade({ duration: "0.4s" })} />
    <Hero transition:animate={fade({ duration: "0.4s" })} />
    <CtaSection transition:animate={slide({ duration: "0.8s" })} />
    <Banner />
    <CtaSection2 transition:animate={slide({ duration: "0.8s" })} />
    <FooterBanner />
    <RugBanner />
    <Footer />
  </body>
</html>
