---
// src/components/CityPage.astro

import { cityDataMap } from "../../data/cities.js";
import "@fontsource-variable/montserrat";
import PopupWrapper from "./PopupWrapper.jsx";

// Empfangene Props
interface Props {
  city: string;
}

const { city } = Astro.props as Props;

// Daten für die angegebene Stadt abrufen
const cityData = cityDataMap[city.toLowerCase()];
---

<section class="bg-cover bg-center bg-white sm:pb-24">
  <div class="top-overlay flex justify-center max-w-screen-xl m-auto">
    <div class="mobile-p top pt-20 pb-10 text-center">
      <h2
        class="mb-1 text-3xl tracking-tight font-extrabold sm:text-4xl text-gray-900 dark:text-white"
      >
        Reinigung, Pflege und Reparatur
      </h2>
      <h4
        class="ml-2 text-xl tracking-tight font-normal text-gray-900 dark:text-white"
      >
        Aller Art und Größe im Raum <strong>{cityData.name}</strong> mit Hol- und
        Bringservice
      </h4>
    </div>
  </div>
  <div class="overlay">
    <div
      class="gap-8 items-center px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 lg:px-6"
    >
      <img
        class="shw w-full dark:hidden rounded"
        src={cityData.image}
        alt="dashboard image"
      />

      <div class="mt-4 md:mt-0">
        <h6 class="text-lg dark:text-white">Gründe für eine</h6>
        <h3
          class="mb-4 text-3xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Kennen Sie das auch?
        </h3>
        <p
          class="mb-6 font-light text-black-500 md:text-base dark:text-gray-400"
        >
          <span class="font-bold"
            >Manchmal ist es nötig Teppiche pro-fessionell reinigen zu lassen.
          </span>Die Gründe dafür können unterschiedlich sein. Um schnell zu
          einer angenehmen Teppichreinigung zu kommen, sollten Sie telefonisch,
          per Email oder mittels des Kontakt-formulars mit uns Kontakt
          aufnehmen. Wir vereinbaren dann einen möglichst umgehenden Termin mit
          ihnen und holen den Teppich auf Wunsch bei ihnen ab. Als Beleg für die
          Abholung erhalten Sie von uns einen Abholschein. Auf diesem ist das
          Besprochene bezüglich Umfang der Leistungen. Wenn ihr Teppich
          repariert werden muss, wird auch dies erledigt. Über die Möglichkeiten
          einer Reparatur erhalten Sie zuvor eine ausführliche Beratung. Der
          Abholservice ist für Sie völlig kostenlos.
        </p>
      </div>
    </div>
    <PopupWrapper client:load />
  </div>

  <style>
    img {
      border-radius: 8px;
    }

    .shw {
      box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
    }

    .btnbox {
      display: flex;
      justify-content: center;
      width: 100%;
      padding-top: 32px;
    }

    button {
      background-color: #2d6aff;
      border-radius: 50px;
      border: 2px solid white;
      box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;

      transition: 1s ease-in-out;
    }

    button:hover {
      border: 2px solid turquoise;
      transform: scale(1.008);
    }

    @media (width <= 767px) {
      section {
        margin-bottom: 3.5rem;
        padding: 0 1rem;
      }

      .mobile-p {
        padding-top: 3rem;
      }
      img {
        margin-bottom: 2rem;
      }
    }
  </style>
</section>
