---

---

<section class="bg-sec">
  <div class="max-w-screen-xl py-8 lg:py-24 px-4 mx-auto lg:px-6">
    <h2
      class="mb-2 text-3xl tracking-tight font-extrabold text-gray-900 sm:text-4xl dark:text-white"
    >
      Alle Vorteile klar im Überblick
    </h2>
    <p class="max-w-2xl font-light text-black sm:text-l">
      Sie erhalen bei wunsch eine Individuelle kostenlose Beratung. Ab einen
      Auftragswert von 99€ erhalten Sie eine kostenlose Abhol- und Bringservice.
      Plus Sie profitieren von einer Tiefen und dennoch schonende
      Teppichreinigung.
    </p>
    <dl
      class="grid gap-8 mt-8 text-gray-900 sm:grid-cols-2 lg:gap-20 lg:mt-14 lg:grid-cols-4 dark:text-white"
    >
      <div class="flex flex-col">
        <dt class="mb-2 text-3xl md:text-4xl font-extrabold tracking-tight">
          30 Jahre
        </dt>
        <dd class="font-light text-black">
          ENSA Teppichreinigung<br /> seit 1999 bis heute.
        </dd>
      </div>
      <div class="flex flex-col">
        <dt class="mb-2 text-3xl md:text-4xl font-extrabold">3600+</dt>
        <dd class="font-light text-black">
          Zufriedene Kunden <br />Jahr für Jahr.
        </dd>
      </div>
      <div class="flex flex-col">
        <dt
          class="mb-2 text-3xl md:text-4xl font-extrabold flex items-center gap-2"
        >
          4.9/5<svg
            class="w-8 h-8 text-gray-800 dark:text-white"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            width="72px"
            height="72px"
            fill="gold"
            viewBox="0 0 24 24"
          >
            <path
              d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"
            ></path>
          </svg>
        </dt>
        <dd class="font-light text-black">
          Professionelle Teppichreinigung mit hohe Kundenzufriedenheit.
        </dd>
      </div>
      <div class="flex flex-col">
        <dt class="mb-2 text-3xl md:texty-4xl font-extrabold">300.000</dt>
        <dd class="font-light text-black">
          Teppiche wurden vom ersten Tag an, bis heute gereinigt.
        </dd>
      </div>
    </dl>
  </div>
</section>

<style>
  .bg-sec {
    /*     background: rgb(165, 194, 252);
    background: -moz-linear-gradient(
      90deg,
      rgba(165, 194, 252, 1) 0%,
      rgba(252, 253, 255, 1) 49%,
      rgba(165, 194, 252, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(165, 194, 252, 1) 0%,
      rgba(252, 253, 255, 1) 49%,
      rgba(165, 194, 252, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(165, 194, 252, 1) 0%,
      rgba(252, 253, 255, 1) 49%,
      rgba(165, 194, 252, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#a5c2fc",endColorstr="#a5c2fc",GradientType=1); */
    /*  background: rgb(89, 126, 201);
    background: -moz-linear-gradient(
      90deg,
      rgba(89, 126, 201, 1) 0%,
      rgba(196, 214, 250, 1) 49%,
      rgba(112, 142, 203, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(89, 126, 201, 1) 0%,
      rgba(196, 214, 250, 1) 49%,
      rgba(112, 142, 203, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(89, 126, 201, 1) 0%,
      rgba(196, 214, 250, 1) 49%,
      rgba(112, 142, 203, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#597ec9",endColorstr="#708ecb",GradientType=1); */
    background: rgb(123, 167, 255);
    background: -moz-linear-gradient(
      90deg,
      rgba(123, 167, 255, 1) 0%,
      rgba(200, 204, 244, 0.9164040616246498) 49%,
      rgba(112, 142, 203, 1) 100%
    );
    background: -webkit-linear-gradient(
      90deg,
      rgba(123, 167, 255, 1) 0%,
      rgba(200, 204, 244, 0.9164040616246498) 49%,
      rgba(112, 142, 203, 1) 100%
    );
    background: linear-gradient(
      90deg,
      rgba(123, 167, 255, 1) 0%,
      rgba(200, 204, 244, 0.9164040616246498) 49%,
      rgba(112, 142, 203, 1) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7ba7ff",endColorstr="#708ecb",GradientType=1);

    border-top: 2px solid black;
    border-bottom: 2px solid black;
  }

  @media (width <= 767px) {
    section > div {
      padding: 3.5rem 2rem;
    }
  }
</style>
