---
const image = "/Lieferwagen-Seite.webp";
---

<section class="bg-cover bg-center bg-white">
  <div class="overlay">
    <div
      class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
    >
      <img class="shw w-full dark:hidden" src={image} alt="dashboard image" />
      <img
        class="shw w-full hidden dark:block"
        src={image}
        alt="dashboard image"
      />
      <div class="mt-4 md:mt-0">
        <h6 class="text-lg dark:text-white">Gründe für eine</h6>
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Teppichreinigung mit Abhol-<br /> und Bringservice
        </h2>
        <p
          class="mb-6 font-light text-gray-500 md:text-base dark:text-gray-400"
        >
          <span class="font-bold"
            >Manchmal ist es nötig Teppiche professionell reinigen zu lassen.
          </span>Die Gründe dafür können unterschiedlich sein. Um schnell zu
          einer professionellen Teppichreinigung zu kommen, sollten Sie
          telefonisch, per Email oder mittels des Kontaktformulars mit uns
          Kontakt aufnehmen. Wir vereinbaren dann einen möglichst umgehenden
          Termin mit ihnen und holen den Teppich auf Wunsch bei ihnen ab. Als
          Beleg für die Abholung erhalten Sie von uns einen Abholschein. Auf
          diesem ist das Besprochene bezüglich Umfang der Leistungen. Wenn ihr
          Teppich repariert werden muss, wird auch dies erledigt. Über die
          Möglichkeiten einer Reparatur erhalten Sie zuvor eine ausführliche
          Beratung. Der Abholservice ist für Sie völlig kostenlos.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  img {
    border-radius: 8px;
  }

  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }
</style>
