<div class="overlay">
  <div class="top">
    <h3 class="text-3xl font-bold dark:text-white">
      Sie Können Ihren wunsch auch direkt mit uns besprechen
    </h3>
  </div>
  <div class="bottom">
    <div class="btnbox">
      <button
        class="px-5 py-3 text-base font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >Anfrage besprechen</button
      >
    </div>
  </div>
</div>

<style>
  .overlay {
    background-image: url(Information background.jpg);
    background-size: cover;
    padding: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h3 {
    color: black;
    margin-bottom: 2.5rem;
  }

  button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;
  }

  @media (width <= 500px) {
    .top {
      background-color: #ffffff91;
    }
  }
</style>
