<section class="bg-white">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <h2
      class="mb-6 lg:mb-8 text-3xl lg:text-4xl tracking-tight font-extrabold text-center text-gray-900 dark:text-white"
    >
      FAQ - Fragen & Antworten zu unseren Dienstleistungen
    </h2>
    <div class="borderz mx-auto max-w-screen-md bg">
      <div
        id="accordion-flush"
        data-accordion="false"
        data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white"
        data-inactive-classes="text-gray-500 dark:text-gray-400"
      >
        <h2 id="accordion-flush-heading-1">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-900 bg-white border-b border-gray-200 dark:border-gray-700 dark:bg-gray-900 dark:text-white"
            data-accordion-target="#accordion-flush-body-1"
            aria-expanded="true"
            aria-controls="accordion-flush-body-1"
          >
            <span>Wie lange dauert die Teppichreinigung?</span>
            <svg
              data-accordion-icon=""
              class="w-6 h-6 rotate-180 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-1"
          class=""
          aria-labelledby="accordion-flush-heading-1"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Die Wäsche dauert generell eine Woche.
            </p>
          </div>
        </div>

        <h2 id="accordion-flush-heading-2">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-2"
            aria-expanded="false"
            aria-controls="accordion-flush-body-2"
          >
            <span
              >Mein Baby spielt auf dem Teppich, sind die Reinigungsmittel
              eventuell Ein Problem für das Kind?</span
            >
            <svg
              data-accordion-icon=""
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-2"
          class="hidden"
          aria-labelledby="accordion-flush-heading-2"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Wir benutzen biologisch abbaubare Produkte und nichts Chemisches.
              Unsere umweltfreundlichen Mittel sind im Übrigen auch für
              Allergiker geeignet.
            </p>
          </div>
        </div>

        <h2 id="accordion-flush-heading-3">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-3"
            aria-expanded="false"
            aria-controls="accordion-flush-body-3"
          >
            <span>Wie oft sollte ich meinen Teppich reinigen lassen?</span>
            <svg
              data-accordion-icon=""
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-3"
          class="hidden"
          aria-labelledby="accordion-flush-heading-3"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Pauschal kann man das nicht sagen. Es hängt davon ab, wie sehr der
              Teppich beansprucht und verschmutzt wird. Bei starker
              Beanspruchung (z.B. gewerbliche Bereiche) empfehlen wir eine
              Reinigung alle 3-6 Monate. Bei mittlerer Beanspruchung (Wohnräume)
              alle 6-12 Monate und bei geringer Beanspruchung (Schlafzimmer)
              alle 12-24 Monate.
            </p>
          </div>
        </div>

        <h2 id="accordion-flush-heading-4">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-4"
            aria-expanded="false"
            aria-controls="accordion-flush-body-4"
          >
            <span>Kann ich meinen Teppich selbst reinigen?</span>
            <svg
              data-accordion-icon=""
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-4"
          class="hidden"
          aria-labelledby="accordion-flush-heading-4"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Ja, das ist möglich. Allerdings ist es oft schwierig, den Teppich
              vollständig sauber zu bekommen, insbesondere bei starker
              Verschmutzung. Wir empfehlen daher, einen professionellen
              Teppichreiniger zu beauftragen.
            </p>
          </div>
        </div>

        <h2 id="accordion-flush-heading-5">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-5"
            aria-expanded="false"
            aria-controls="accordion-flush-body-5"
          >
            <span>Was kostet eine Teppichreinigung?</span>
            <svg
              data-accordion-icon=""
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-5"
          class="hidden"
          aria-labelledby="accordion-flush-heading-5"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Das hängt von der Teppichart, der Größe und dem Zustand des
              Teppichs ab. In der Regel liegen die Kosten zwischen 50 und 200
              Euro.
            </p>
            <ul class="custom-list pl-5 text-gray-500 dark:text-gray-400">
              <li>
                Wählen Sie Ihre Teppichart aus (Radio Button). Sind Sie sich
                unsicher, helfen wir Ihnen gerne weiter!
              </li>
              <li>Geben Sie die Größe Ihres Teppichs an.</li>
              <li>Sie erhalten in Kürze ein Angebot von uns.</li>
            </ul>
          </div>
        </div>

        <h2 id="accordion-flush-heading-6">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-6"
            aria-expanded="false"
            aria-controls="accordion-flush-body-6"
          >
            <span
              >Was bedeutet Abhol- und Bringservice und was kostet dieser?</span
            >
            <svg
              data-accordion-icon=""
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-6"
          class="hidden"
          aria-labelledby="accordion-flush-heading-6"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Ja, das ist möglich. Allerdings ist es oft schwierig, den Teppich
              vollständig sauber zu bekommen, insbesondere bei starker
              Verschmutzung. Wir empfehlen daher, einen professionellen
              Teppichreiniger zu beauftragen.
            </p>
          </div>
        </div>

        <h2 id="accordion-flush-heading-7">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-7"
            aria-expanded="false"
            aria-controls="accordion-flush-body-7"
          >
            <span>Welche Methode der Teppichreinigung ist die beste?</span>
            <svg
              data-accordion-icon=""
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-7"
          class="hidden"
          aria-labelledby="accordion-flush-heading-7"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Die beste Methode der Teppichreinigung hängt von verschiedenen
              Faktoren ab, wie zum Beispiel dem Material des Teppichs, der Größe
              und dem Zustand des Teppichs. Ein professioneller Teppichreiniger
              kann Ihnen bei der Auswahl der für Ihren Teppich am besten
              geeigneten Reinigungsmethode helfen.
            </p>
          </div>
        </div>

        <h2 id="accordion-flush-heading-8">
          <button
            type="button"
            class="flex justify-between items-center py-5 w-full font-medium text-left text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400"
            data-accordion-target="#accordion-flush-body-8"
            aria-expanded="false"
            aria-controls="accordion-flush-body-8"
          >
            <span>Kann ich mein Perserteppich selbst waschen?</span>
            <svg
              data-accordion-icon=""
              class="w-6 h-6 shrink-0"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                clip-rule="evenodd"></path>
            </svg>
          </button>
        </h2>
        <div
          id="accordion-flush-body-8"
          class="hidden"
          aria-labelledby="accordion-flush-heading-8"
        >
          <div
            class="answer py-5 border-b border-gray-200 dark:border-gray-700"
          >
            <p class="mb-2 text-gray-500 dark:text-gray-400">
              Nein, das ist nicht empfehlenswert, da Perserteppiche aus feinem
              Wolle- oder Seidenmaterial bestehen und daher leicht beschädigt
              werden können. Am besten überlassen Sie die Reinigung Ihres
              Perserteppichs einem professionellen Teppichreiniger.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background-image: url("/FAQ.jpg");
    display: flex;
    min-height: 65vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /*  this is where the magic happens:  */
    background-attachment: fixed;

    background-position: center;
    background-size: cover;
    color: var(--color);
    row-gap: 4rem;

    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }

  h2 {
    color: black;
  }

  .borderz {
    border: 1.3px solid black;
  }

  button {
    padding-left: 20px;
    padding-right: 20px;
  }

  .answer {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #8080800f;
  }

  .custom-list {
    counter-reset: custom-counter;
  }

  .custom-list li {
    list-style: none;
    position: relative;
    padding-left: 1.5rem;
  }

  .custom-list li::before {
    content: counter(custom-counter, decimal) ". ";
    counter-increment: custom-counter;
    position: absolute;
    left: 0;
    color: #000; /* Farbe für den Zähler */
    font-weight: bold;
  }

  .custom-list li:nth-of-type(1)::before {
    content: "1.";
  }

  .custom-list li:nth-of-type(2)::before {
    content: "2.";
  }

  .custom-list li:nth-of-type(3)::before {
    content: "3.";
  }

  .bg {
    background-color: white;
  }

  @media (width <= 550px) {
    section {
      padding: 60px 10px;
    }
  }
</style>
