---
import "@fontsource-variable/montserrat";
---

<section>
  <div class="overlay">
    <div class="cover py-28">
      <div class="top">
        <h3
          class="text-3xl font-bold sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl text-gray-900 mb-6 uppercase"
        >
          Teppichreinigung Industrie <br />Teppichboden & Industrieteppiche
        </h3>
      </div>
      <div class="bottom max-w-screen-xl">
        <div>
          <p class="text-center mb-3 font-bold text-white">
            Industrieteppiche werden in gewerblichen Gebäuden, Fabriken und
            Lagern verwendet. Sie sind robust und langlebig. Die Teppiche
            bestehen oft aus Nylon oder Polyesterflor mit einer Gummiunterseite
            für eine lange Lebensdauer. Die Teppichreinigung ist ein wichtiger
            Bestandteil der industriellen Teppichpflege. Dies kann je nach Art
            des Teppichs mit einem Staubsauger oder einem Dampfreiniger
            erfolgen. Möglicherweise müssen Sie ein Reinigungsmittel verwenden,
            wenn Ihr Teppich nicht weiß ist und Sie Flecken entfernen möchten.
          </p>
        </div>
        <div class="btnbox pt-4">
          <a
            href="tel:071312795256"
            class="bg-blue-500 hover:bg-blue-700 text-white text-lg font-bold py-2 px-4 rounded button"
          >
            Jetzt Reinigung vereinbaren
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  body {
    font-family: "Montserrat Variable", sans-serif;
  }

  .btnbox {
    display: flex;
    justify-content: center;
  }

  .button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgba(43, 47, 172, 0.4) 0px 7px 29px 0px;
    margin-top: 0.6rem;
    transition: 1s ease-in-out;
  }

  .button:hover {
    border: 2px solid turquoise;
    transform: scale(1.008);
  }

  .overlay {
    background-image: url("/industrie-teppichboden-reinigen.jpg");
    background-size: 120% 100%;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
  }

  h3 {
    color: white;
    margin-bottom: 1.5rem;
  }

  .cover {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #05003ea2;
  }

  button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;
  }

  @media (width <= 767px) {
    .overlay {
      background-image: url("/boden-mobile.jpg");
      background-size: 120% 100%;
      background-position: center;
      background-repeat: no-repeat;
      text-align: center;
    }
  }

  @media (width <= 500px) {
    .cover {
      padding: 60px 20px;
    }

    .btnbox {
      padding-top: 1rem;
    }
    .top {
      text-align: center;
    }

    .bottom {
      padding: 0 20px;
    }

    p {
      letter-spacing: 1.24px;
      line-height: 1.65;
    }
  }
</style>
