---
import PopupWrapper from "../../city/PopupWrapper";

const image = "/teppichboden-reinigung.jpg";
---

<section class="bg-cover bg-center bg-white">
  <div class="overlay">
    <div
      class="gap-8 items-center py-12 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-24 lg:px-6 cols-1"
    >
      <img
        class="img shw w-full dark:hidden"
        src={image}
        alt="dashboard image"
      />
      <img
        class="img shw w-full hidden dark:block"
        src={image}
        alt="dashboard image"
      />
      <h2
        class="text-3xl font-bold sm:text-2xl md:text-3xl lg:text-4xl xl:text-4xl text-gray-900 mb-6 uppercase mobile-h2"
      >
        Die <strong>Professionelle Teppichboden-<br /> reinigung</strong>
      </h2>
      <img class="mobile" src={image} alt="dashboard image" />
      <div class="mt-4 md:mt-0">
        <h2
          class="text-3xl font-extrabold sm:text-2xl md:text-3xl lg:text-4xl xl:text-4xl text-gray-900 mb-6 uppercase desktop-h2"
        >
          Die <strong>Professionelle Teppichboden-<br /> reinigung</strong>
        </h2>
        <p class="font-bold text-gray-500 md:text-base dark:text-gray-400">
          <strong>Seit 2001 reinigt ENSA Teppiche und Teppichböden </strong><br
          /> Wir sind ein Unternehmen, das professionelle Teppichreinigungsdienste
          für Privat- und Gewerbekunden anbietet. Außerdem verwenden wir, wenn wir
          einen Teppichboden reinigen umweltfreundliche Reinigungsmittel, was bedeutet,
          dass Sie sich keine Gedanken über den chemischen Inhalt unseres Reinigungsmittels
          machen müssen.
        </p>
        <div class="btnbox2">
          <PopupWrapper client:load />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .btnbox2 {
    width: max-content;
  }

  .img {
    border-radius: 8px;
    min-width: 350px;
    min-height: 350px;
    object-fit: cover;
    width: 100%;
    max-height: 400px;
  }

  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }

  @media (width >= 900px) {
    .mobile {
      display: none;
    }

    .mobile-h2 {
      display: none;
    }
  }

  @media (width <= 900px) {
    .img {
      display: none;
    }
    .cols-1 {
      grid-template-columns: repeat(1, minmax(0, 1fr)) !important;
    }

    .desktop-h2 {
      display: none;
    }

    .mobile {
      width: 100%;
      object-fit: cover;
      object-position: 50% 80%;
      height: 300px;
    }
  }

  @media (width <= 767px) {
    section {
      padding: 4rem 2rem;
    }

    .overlay > div {
      padding: 0;
    }
  }
</style>
