---
const imageSrc = "/industrie-teppichboden-reinigen.webp";
---

<section class="bg-gray-900">
  <div
    class="gap-8 items-center py-16 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-24 lg:px-6 cols-1"
  >
    <div>
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-white uppercase"
      >
        Teppichboden-<br />reinigung für Privat- <br />und Gewerbekunden
      </h2>
      <p
        class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400 pt-4"
      >
        ENSA-Teppichreinigung ist bestrebt, hervorragende
        Teppichreinigungsdienste in der Region anzubieten und
      </p>
      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        gleichzeitig erschwingliche Preise beizubehalten. Unsere geschulten und
        zertifizierten Techniker sind stolz auf ihre Arbeit
      </p>
      <p class="mb-3 font-bold text-gray-500 md:text-base dark:text-gray-400">
        und bieten zeitnah qualitativ hochwertige Dienstleistungen!
        Bestmöglicher und zuverlässiger Service | Seit 2001
      </p>
    </div>
    <img
      class="ds hidden mx-auto w-64 md:flex"
      src={imageSrc}
      alt="mobile app"
    />
    <div class="col-span-2">
      <p
        class="mb-3 w-full font-bold text-gray-500 md:text-base dark:text-gray-400"
      >
        Wir sind spezialisiert auf die Teppichreinigung, Teppichbodenreinigung,
        Teppichreparatur, Polsterreinigung, Matratzenreinigung u.v.m. von
        Privathaushalten, Gewerbe und Industrie. Unsere Mission ist es, unseren
        Kunden den bestmöglichen und zuverlässigsten Service zu bieten.
      </p>
    </div>
  </div>
</section>

<style>
  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }

  img {
    object-fit: cover;
    min-width: 350px;
    min-height: 350px;
    width: 78%;
    max-height: 400px;
    object-position: bottom;
  }

  .ds {
    filter: drop-shadow(16px 16px 16px gray);
  }
</style>
