<section class="py-12 mx-auto max-w-screen-2xl">
  <div class="bg-white p-8">
    <!-- Titel -->
    <h2 class="text-4xl font-extrabold text-gray-900 mb-6">
      Individuelle Beratung – unverbindlich und kostenfrei!
    </h2>

    <!-- Erster Textblock -->
    <p class="text-base text-gray-700 mb-6">
      Nehmen Sie Kontakt mit uns auf und wir unterbreiten Ihnen gerne ein
      individuelles Angebot. Gerne beantworten wir Ihre Fragen zum
      Reinigungsverfahren. Selbstverständlich informieren wir Sie auch gerne
      über Möglichkeiten, Ihren Teppich fachgerecht reparieren zu lassen.
    </p>

    <!-- Zwei Blöcke nebeneinander bei größeren Bildschirmen -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
      <div>
        <p class="text-base text-gray-700">
          Wir von der <strong>ENSA Teppichreinigung</strong> haben uns auf eine qualitativ
          hochwertige Teppichreinigung, Teppichpflege, Teppichwäsche und Teppichreparatur
          spezialisiert und bieten deshalb diesen einzigartigen Service an. Ihre
          Zufriedenheit ist unser Auftrag. Wir beraten Sie <strong
            >individuell</strong
          > und stellen damit die schonendste Reinigung sicher, die Fasern, <strong
            >Farben und Struktur nicht beschädigen</strong
          >.
        </p>
      </div>
      <div>
        <p class="text-base text-gray-700">
          Überzeugen Sie sich von unserer einzigartigen Dienstleistung. Zu
          unserem Service gehört auch ein <strong
            >Abhol- und Lieferdienst</strong
          >, der ab einem <strong>Auftragswert von 100,00 Euro</strong> für Sie gratis
          ist. Selbstverständlich kann sich jeder Kunde persönlich von der Qualität
          unserer Arbeit an Ort und Stelle überzeugen. Besucher sind uns jederzeit
          herzlich willkommen, denn Qualität und Transparenz gehen bei uns Hand in
          Hand.
        </p>
      </div>
    </div>
  </div>
  <div class="btnbox">
    <button
      class="px-5 py-3 text-base font-bold text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >Individuelle Beratung vereinbaren</button
    >
  </div>
</section>

<style>
  .btnbox {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  button {
    background-color: #2d6aff;
    border-radius: 50px;
    border: 2px solid white;
    box-shadow: rgb(0 0 0 / 40%) 0px 7px 29px 0px;

    transition: 1s ease-in-out;
  }

  button:hover {
    border: 2px solid turquoise;
    transform: scale(1.008);
  }
</style>
