---
const imageSrc = "/Milben-keine-Change.webp";
---

<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-8 items-center py-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:py-16 lg:px-6"
  >
    <div>
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        MILBENKOT KANN AUSLÖSER VON ALLERGIEN SEIN
      </h2>
      <p class="mb-3 font-light text-gray-500 md:text-base dark:text-gray-400">
        Als Folge dringen die Milben tief in das Matratzengwebe ein, wo sie auch
        ihren Kot hinterlassen. Eine professionelle Matratzenreinigung kann
        jedoch eine Tiefenreinigung gewähren, durch die alle
      </p>
      <p class="mb-3 font-light text-gray-500 md:text-base dark:text-gray-400">
        Verschmutzungen entfernt werden. Ohne eine solche Reinigung werden die
        Matratzen nach einigen Jahren sehr unhygienisch. Da es sich jedoch um
        kleinste Partikel handeln, die Matratzen
      </p>
      <p class="mb-3 font-light text-gray-500 md:text-base dark:text-gray-400">
        verschmutzen, merkt man oft gar nicht, wie unsauber die Matratze
        wirklich ist. Das Risiko, an Allergien oder Asthma Anfällen zu
        erkranken, ist erheblich, wenn eine Matratze über Jahre hinaus
      </p><p
        class="mb-3 font-light text-gray-500 md:text-base dark:text-gray-400"
      >
        nicht gründlich gereinigt wird.
      </p>
    </div>
    <img
      class="ds hidden mx-auto w-64 md:flex"
      src={imageSrc}
      alt="mobile app"
    />
  </div>
</section>

<style>
  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }

  img {
    object-fit: cover;
    min-width: 350px;
    min-height: 350px;
    width: 100%;
    max-height: 400px;
  }

  .ds {
    filter: drop-shadow(16px 16px 16px gray);
  }
</style>
