<section class="bg-white dark:bg-gray-900">
  <div
    class="py-8 px-4 mx-auto max-w-screen-xl sm:text-center text-left sm:py-16 lg:px-6"
  >
    <h2
      class="mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white"
    >
      Umfassende Polsterreinigung – <br /><strong
        class="text-blue-800 underline underline-offset-2">ENSA</strong
      > macht den Unterschied
    </h2>
    <p class="text-gray-500 sm:text-xl dark:text-gray-400 lg:px-48">
      Von Milbenschutz bis Fleckenentfernung – Wir sorgen für saubere und
      frische Polstermöbel direkt bei Ihnen vor Ort.
    </p>
    <div
      class="mt-16 lg:mt-16 mb-8 space-y-8 md:grid md:grid-cols-2 md:gap-12 md:space-y-0 sm:mt-4"
    >
      <div class="flex flex-col items-center">
        <div
          class="inline-flex justify-center items-center mb-6 w-24 h-24 rounded-lg"
        >
          <object class="mr-4" data="/sessel.svg" type="image/svg+xml"></object>
        </div>
        <h3 class="mb-4 text-2xl font-bold dark:text-white text-center mr-6">
          Reinigung von Polstermöbeln
        </h3>
        <div class="ps">
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            MILBEN & MOTTENSCHUTZ.
          </p>
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            FLECKENENTFERNUNG.
          </p>
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            IMPREGNIERUNG.
          </p>
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            DESINFIZIERUNG.
          </p>
        </div>
      </div>
      <div class="flex flex-col items-center">
        <div
          class="inline-flex justify-center items-center mb-6 w-24 h-24 bg-purple-100 rounded-lg dark:bg-purple-900"
        >
          <object class="mr-4" data="/standort.svg" type="image/svg+xml"
          ></object>
        </div>
        <h3 class="mb-4 text-2xl font-bold dark:text-white mr-2">
          Unser Vor-Ort-Service
        </h3>
        <div class="ps">
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            ZUM WUNSCHTERMIN
          </p>
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            FLECKENENTFERNUNG.
          </p>
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            IMPREGNIERUNG.
          </p>
          <p class="mb-4 text-gray-500 dark:text-gray-400 p-duezen">
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="green"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10-4.477 10-10 10S2 17.523 2 12Zm13.707-1.293a1 1 0 0 0-1.414-1.414L11 12.586l-1.793-1.793a1 1 0 0 0-1.414 1.414l2.5 2.5a1 1 0 0 0 1.414 0l4-4Z"
                clip-rule="evenodd"></path>
            </svg>
            DESINFIZIERUNG.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .p-duezen {
    display: flex;
    justify-content: flex-start;
    gap: 8px;
  }

  .ps {
    width: 260px;
  }

  @media (width <= 767px) {
    section > div {
      padding: 4rem 2rem;
    }
  }
</style>
