<section class="backg">
  <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6">
    <div class="max-w-screen-md mb-8 lg:mb-16">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Unsere Preise für die Polsterreinigung vor Ort.
      </h2>
    </div>
    <div
      class="space-y-8 md:grid md:grid-cols-2 lg:grid-cols-3 md:gap-12 md:space-y-0"
    >
      <div class="text-center">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <img src="/polsterreinigung/1-sitzer.png" alt="1-sitzer" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">SESSEL / SOFA</h3>
        <p class="text-gray-500 dark:text-gray-400">ab 29€</p>
      </div>
      <div class="text-center">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <img src="/polsterreinigung/2-sitzer.png" alt="2-sitzer" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">2-Sitzer SOFA</h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 69€</p>
      </div>
      <div class="text-center">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <img src="/polsterreinigung/3-sitzer.png" alt="3-sitzer" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">3-Sitzer SOFA</h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 99€</p>
      </div>

      <div class="text-center">
        <div
          class="flex justify-center items-center mb-4 rounded-full text-center"
        >
          <img src="/polsterreinigung/eckcouch-big.png" alt="eckcouch-big" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">ECKCOUCH (groß)</h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 199€</p>
      </div>
      <div class="text-center">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <img
            src="/polsterreinigung/eckcouch-small.png"
            alt="eckcouch-small"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">ECKCOUCH (klein)</h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 149€</p>
      </div>
      <div class="text-center">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <img src="/polsterreinigung/kombi.png" alt="kombi" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Kombi (1 + 2 + 3 Sitzer)
        </h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 199€</p>
      </div>
      <div class="text-center">
        <div class="flex justify-center items-center rounded-full">
          <img
            src="/polsterreinigung/car-seat.png"
            alt="car-seat"
            class="icons"
          />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">
          Autositze 5 Stück
        </h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 99€</p>
      </div>
      <div class="text-center">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <img src="/polsterreinigung/matratze.png" alt="matratze" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">MATRATZE</h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 99€</p>
      </div>
      <div class="text-center">
        <div class="flex justify-center items-center mb-4 rounded-full">
          <img src="/polsterreinigung/stuhl.png" alt="stuhl" />
        </div>
        <h3 class="mb-2 text-xl font-bold dark:text-white">STUHL</h3>
        <p class="text-gray-500 dark:text-gray-400">Ab 9€</p>
      </div>
    </div>
  </div>
</section>

<style>
  .icons {
    width: 80px;
  }

  .backg {
    background-color: cornsilk;
  }

  @media (width <= 767px) {
    .icons {
      width: 110px;
    }
  }
</style>
