---
import "@fontsource-variable/montserrat";
---

<section class="flex bg bg-no-repeat bg-cover bg-center">
  <div class="overlay">
    <div
      class="place-content-center relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-28 xl:px-0 z-1"
    >
      <div class="max-w-screen-md lg:mb-0 text-center">
        <h1
          class="desktop text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl"
          transition:animate="slide"
        >
          MATRATZEN <span class="text-bold">REINIGEN</span>
          <br />
          EINE <span class="text-bold">WOHLTAT</span><br />
          FÜR DIE <span class="text-bold">GESUNDHEIT</span>
        </h1>
        <h1
          class="mobile text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl"
          transition:animate="slide"
        >
          Eine <span class="text-bold">Wohltat</span>
          Für die <span class="text-bold">Gesundheit</span>
        </h1>
        <p
          class="desktop mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl"
        >
          Wenigstens einmal m Jahr sollte man die Matratze reinigen lassen<br
          />So können Milben und Milbenkot beseitigt werden.
        </p>
        <p
          class="mobile mb-6 font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl"
        >
          Wenigstens einmal m Jahr sollte man die Matratze reinigen lassen So
          können Milben und Milbenkot beseitigt werden.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  body {
    font-family: "Montserrat Variable", sans-serif;
  }

  section {
    display: flex;
    justify-content: center;
  }

  .bg {
    background-image: url("/Reinigung-von-Matrazen-Professionell.webp");
    /*   background-position: center;
    background-size: 100%; */
    background-size: cover;
  }

  .overlay {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.57);
    width: 100%;
  }

  .mobile {
    display: none;
  }

  @media (width <= 767px) {
    .desktop {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
</style>
