---
import "@fontsource-variable/montserrat";
---

<section class="flex bg bg-no-repeat bg-cover bg-center">
  <div class="overlay">
    <div
      class="place-content-center relative py-8 px-4 mx-auto max-w-screen-xl text-white lg:py-36 xl:px-0 z-1"
    >
      <div class="max-w-screen-md lg:mb-0 text-center">
        <h1
          class="text-4xl font-extrabold tracking-tight leading-tight text-white md:text-5xl lg:text-6xl"
          transition:animate="slide"
        >
          ABHOL- UND LIEFERSERVICE
        </h1>
        <p class="font-light text-gray-300 lg:mb-8 md:text-lg lg:text-xl">
          Unser Abhol- und Lieferservice macht es Ihnen leicht
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  body {
    font-family: "Montserrat Variable", sans-serif;
  }

  section {
    display: flex;
    justify-content: center;
  }

  .bg {
    background-image: url("/Hol und Lieferservice.webp");
    background-position: center;
  }

  .overlay {
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.668);
    width: 100%;
  }
</style>
