---
const image = "/reinigung-auto-sitze.webp";
---

<section class="bg-cover bg-center bg-white">
  <div class="overlay">
    <div
      class="gap-8 items-center pt-8 px-4 mx-auto max-w-screen-xl xl:gap-16 md:grid md:grid-cols-2 sm:pt-24 lg:px-6 crct"
    >
      <div class="mt-4 md:mt-0">
        <h2
          class="mb-4 text-3xl tracking-tight font-bold text-gray-900 dark:text-white"
        >
          Hinweise gem. § 5 TMG:
        </h2>
        <p
          class="mb-6 font-light flex flex-col text-gray-500 md:text-base dark:text-gray-400"
        >
          <span class="font-bold">Emre Dilsiz </span>
          <span class="font-bold">Dammstraße 29a </span>
          <span class="font-bold">74076 Heilbronn Deutschland</span>
        </p>
      </div>
      <div class="flex flex-col">
        <h2
          class="text-3xl mt-6 tracking-tight font-bold text-gray-900 dark:text-white"
        >
          USt-IdNr.: 65062/59199
        </h2>
        <span class="font-bold mt-4 text-gray-500"
          >Telefon: 07131 2795256
        </span>
        <span class="font-bold text-gray-500"
          >E-Mail: info@ensa-teppichreinigung.de</span
        >
      </div>
    </div>
  </div>
</section>

<style>
  img {
    border-radius: 8px;
  }

  .shw {
    box-shadow: rgb(0 0 0 / 61%) 0px 7px 29px 0px;
  }
  .crct {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
  @media (width <= 767px) {
    section {
      padding: 3rem 2rem 4rem 2rem;
    }

    .overlay > div {
      display: flex;
      flex-direction: column;
      gap: 0;
      padding: 0;
    }
  }
</style>
