<!-- 
Install the "flowbite-typography" NPM package to apply styles and format the article content: 

URL: https://flowbite.com/docs/components/typography/ 
-->
<main
  class="pt-8 pb-16 lg:pt-16 lg:pb-24 bg-white dark:bg-gray-900 antialiased"
>
  <div class="flex justify-between px-4 mx-auto max-w-screen-xl">
    <article
      class="mx-auto w-full max-w-2xl format format-sm sm:format-base lg:format-lg format-blue dark:format-invert"
    >
      <header class="mb-4 lg:mb-6 not-format">
        <h1
          class="mb-4 text-3xl font-bold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white"
        >
          Die Datenschutzerklärung
        </h1>
      </header>
      <p class="lead">
        Soweit nachstehend keine anderen Angaben gemacht werden, ist die
        Bereitstellung Ihrer personenbezogenen Daten weder gesetzlich oder
        vertraglich vorgeschrieben, noch für einen Vertragsabschluss
        erforderlich. Sie sind zur Bereitstellung der Daten nicht verpflichtet.
        Eine Nichtbereitstellung hat keine Folgen. Dies gilt nur soweit bei den
        nachfolgenden Verarbeitungsvorgängen keine anderweitige Angabe gemacht
        wird. "Personenbezogene Daten" sind alle Informationen, die sich auf
        eine identifizierte oder identifizierbare natürliche Person beziehen.
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Server-Logfiles
      </h2>
      <p>
        Sie können unsere Webseiten besuchen, ohne Angaben zu Ihrer Person zu
        machen. Es werden bei jedem Zugriff auf unsere Website Nutzungsdaten
        durch Ihren Internetbrowser übermittelt und in Protokolldaten
        (Server-Logfiles) gespeichert. Zu diesen gespeicherten Daten gehören
        z.B. Name der aufgerufenen Seite, Datum und Uhrzeit des Abrufs,
        übertragene Datenmenge und der anfragende Provider. Diese Daten dienen
        ausschließlich der Gewährleistung eines störungsfreien Betriebs unserer
        Website und zur Verbesserung unseres Angebotes. Eine Zuordnung dieser
        Daten zu einer bestimmten Person ist nicht möglich.
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Erhebung und Verarbeitung bei Nutzung des Kontaktformulars
      </h2>
      <p>
        Bei der Nutzung des Kontaktformulars erheben wir Ihre personenbezogenen
        Daten (Name, E-Mail-Adresse, Nachrichtentext) nur in dem von Ihnen zur
        Verfügung gestellten Umfang. Die Datenverarbeitung dient dem Zweck der
        Kontaktaufnahme. Mit Absenden Ihrer Nachricht willigen Sie in die
        Verarbeitung der übermittelten Daten ein. Die Verarbeitung erfolgt auf
        Grundlage des Art. 6 (1) lit. a DSGVO mit Ihrer Einwilligung. Sie können
        Ihre Einwilligung jederzeit durch Mitteilung an uns widerrufen, ohne
        dass die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf
        erfolgten Verarbeitung berührt wird. Ihre E-Mail-Adresse nutzen wir nur
        zur Bearbeitung Ihrer Anfrage. Ihre Daten werden anschließend gelöscht,
        sofern Sie der weitergehenden Verarbeitung und Nutzung nicht zugestimmt
        haben.
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">Google Fonts</h2>
      <p>
        Zweck:Google Fonts ist ein Dienst, der Schriften, die nicht auf dem
        Client-Gerät des Nutzers installiert sind, herunterlädt und in die
        Website einbettet. Auf dem Client-Gerät des Nutzers werden keine Cookies
        im technischen Sinne gesetzt, aber es werden technische und persönliche
        Daten wie z.B. die IP-Adresse vom Client an den Server des
        Diensteanbieters übertragen, um die Nutzung des Dienstes zu ermöglichen.
        Verwendung auf gesetzlicher Grundlage von:Berechtigtes Interesse
        Anbieter: Google Ireland Limited Datenschutzerklärung:
        https://policies.google.com/privacy
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">Cookies</h2>
      <p>
        Unsere Website verwendet Cookies. Cookies sind kleine Textdateien, die
        im Internetbrowser bzw. vom Internetbrowser auf dem Computersystem eines
        Nutzers gespeichert werden. Ruft ein Nutzer eine Website auf, so kann
        ein Cookie auf dem Betriebssystem des Nutzers gespeichert werden. Dieser
        Cookie enthält eine charakteristische Zeichenfolge, die eine eindeutige
        Identifizierung des Browsers beim erneuten Aufrufen der Website
        ermöglicht. Wir setzen Cookies zu dem Zweck ein, unser Angebot
        nutzerfreundlicher, effektiver und sicherer zu machen. Des Weiteren
        ermöglichen Cookies unseren Systemen, Ihren Browser auch nach einem
        Seitenwechsel zu erkennen und Ihnen Services anzubieten. Einige
        Funktionen unserer Internetseite können ohne den Einsatz von Cookies
        nicht angeboten werden. Für diese ist es erforderlich, dass der Browser
        auch nach einem Seitenwechsel wiedererkannt wird. Die Verarbeitung
        erfolgt auf Grundlage des § 15 (3) TMG sowie Art. 6 (1) lit. f DSGVO aus
        dem berechtigten Interesse an den oben genannten Zwecken. Die auf diese
        Weise von Ihnen erhobenen Daten werden durch technische Vorkehrungen
        pseudonymisiert. Eine Zuordnung der Daten zu Ihrer Person ist daher
        nicht mehr möglich. Die Daten werden nicht gemeinsam mit sonstigen
        personenbezogenen Daten von Ihnen gespeichert. Sie haben das Recht aus
        Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit
        dieser auf Art. 6 (1) f DSGVO beruhenden Verarbeitung Sie betreffender
        personenbezogener Daten zu widersprechen. Cookies werden auf Ihrem
        Rechner gespeichert. Daher haben Sie die volle Kontrolle über die
        Verwendung von Cookies. Durch die Auswahl entsprechender technischer
        Einstellungen in Ihrem Internetbrowser können Sie die Speicherung der
        Cookies und Übermittlung der enthaltenen Daten verhindern. Bereits
        gespeicherte Cookies können jederzeit gelöscht werden. Wir weisen Sie
        jedoch darauf hin, dass Sie dann gegebenenfalls nicht sämtliche
        Funktionen dieser Website vollumfänglich werden nutzen können. Unter den
        nachstehenden Links können Sie sich informieren, wie Sie die Cookies bei
        den wichtigsten Browsern verwalten (u.a. auch deaktivieren) können:
        Chrome Browser: https://support.google.com/accounts/answer/61416?hl=de
        Internet Explorer:
        https://support.microsoft.com/de-de/help/17442/windows-internet-explorer-delete-manage-cookies
        Mozilla Firefox:
        https://support.mozilla.org/de/kb/cookies-erlauben-und-ablehnen Safari:
        https://support.apple.com/de-de/guide/safari/manage-cookies-and-website-data-sfri11471/mac
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Verwendung von Google Bewertungen
      </h2>
      <p>
        Wir verwenden auf unserer Website die Funktion zur Einbettung von Google
        Bewertungen der Google Inc. (1600 Amphitheatre Parkway, Mountain View,
        CA 94043, USA; “Google”). Diese Funktion wird durch das Plugin von
        Trustindex bereitgestellt und bettet in Google vorhande Bewertungen in
        die Webseite einDabei werden von Google bei Aufrufen der eingebunden
        Bewertungen, auch Daten der Besucher der Seiten erhoben, verarbeitet und
        genutzt. Nähere Informationen zur Erhebung und Nutzung der Daten durch
        Google finden Sie in den Datenschutzhinweisen von Google unter
        https://www.google.com/privacypolicy.html. Dort haben Sie auch im
        Datenschutzcenter die Möglichkeit Ihre Einstellungen zu verändern, so
        dass Sie Ihre von Google verarbeiteten Daten verwalten und schützen
        können. Ihre Daten werden dabei gegebenenfalls auch in die USA
        übermittelt. Für Datenübermittlungen in die USA ist ein
        Angemessenheitsbeschluss der Europäischen Kommission vorhanden. Sie
        haben das Recht aus Gründen, die sich aus Ihrer besonderen Situation
        ergeben, jederzeit dieser auf Art. 6 (1) f DSGVO beruhenden Verarbeitung
        Sie betreffender personenbezogener Daten zu widersprechen. Dazu müssen
        Sie die Anwendung JavaScript in Ihrem Browser ausschalten. Wir weisen
        Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht
        sämtliche Funktionen dieser Website, wie bspw. die interaktive
        Kartenanzeige, vollumfänglich werden nutzen können
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Dauer der Speicherung
      </h2>
      <p>
        Die Daten werden unter Berücksichtigung gesetzlicher
        Aufbewahrungsfristen gespeichert und dann nach Fristablauf gelöscht,
        sofern Sie der weitergehenden Verarbeitung und Nutzung nicht zugestimmt
        haben.
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Verwendung von Google reCAPTCHA
      </h2>
      <p>
        Unsere Website nutzt den reCAPTCHA-Dienst von Google Ireland Limited
        (Gordon House, Barrow Street, Dublin 4, Irland; "Google"). Die Abfrage
        dient der Unterscheidung, ob die Eingabe durch einen Menschen oder eine
        automatische maschinelle Verarbeitung erfolgt ist. Zu diesem Zweck wird
        Ihre Eingabe an Google übermittelt und von diesem weiterverarbeitet.
        Darüber hinaus werden die IP-Adresse und weitere von Google für den
        reCAPTCHA-Dienst benötigte Daten an Google übermittelt. Diese Daten
        werden von Google innerhalb der EU und möglicherweise auch in den USA
        verarbeitet. Für die USA liegt kein Angemessenheitsbeschluss der
        EU-Kommission vor. Die Datenübermittlung erfolgt u. a. auf der Grundlage
        von Standardvertragsklauseln als angemessene Garantien für den Schutz
        personenbezogener Daten, die unter
        https://policies.google.com/privacy/frameworks abrufbar sind. Die
        Verarbeitung erfolgt auf der Grundlage von Artikel 6(1)f) GDPR aufgrund
        unseres berechtigten Interesses, unsere Website vor automatisiertem
        Ausspähen, Missbrauch und SPAM zu schützen. Sie haben das Recht, aus
        Gründen, die sich aus Ihrer besonderen Situation ergeben, jederzeit
        gegen diese Verarbeitung Sie betreffender personenbezogener Daten, die
        auf der Grundlage von Artikel 6 Absatz 1 Buchstabe f) DSGVO erfolgt,
        Widerspruch einzulegen. Ausführlichere Informationen zu Google reCAPTCHA
        und die dazugehörige Datenschutzerklärung finden Sie unter:
        https://www.google.com/recaptcha/intro/android.html und
        https://www.google.com/privacy.
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Rechte der betroffenen Person
      </h2>
      <p>
        Ihnen stehen bei Vorliegen der gesetzlichen Voraussetzungen folgende
        Rechte nach Art. 15 bis 20 DSGVO zu: Recht auf Auskunft, auf
        Berichtigung, auf Löschung, auf Einschränkung der Verarbeitung, auf
        Datenübertragbarkeit. Außerdem steht Ihnen nach Art. 21 (1) DSGVO ein
        Widerspruchsrecht gegen die Verarbeitungen zu, die auf Art. 6 (1) f
        DSGVO beruhen, sowie gegen die Verarbeitung zum Zwecke von
        Direktwerbung.
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Verwendung von Google unsichtbares reCAPTCHA
      </h2>
      <p>
        Unsere Website nutzt den unsichtbaren reCAPTCHA-Dienst von eCAPTCHA der
        Google Ireland Limited (Gordon House, Barrow Street, Dublin 4, Irland;
        "Google"). Dieser dient dazu, zu unterscheiden, ob die Eingabe durch
        einen Menschen oder eine automatische maschinelle Verarbeitung erfolgt
        ist. Im Hintergrund sammelt und analysiert Google Nutzungsdaten, die
        auch von dem unsichtbaren reCaptcha verwendet werden, um zwischen
        regulären Nutzern und Bots zu unterscheiden. Zu diesem Zweck werden Ihre
        Eingaben an Google übermittelt und dort weiterverarbeitet. Darüber
        hinaus werden die IP-Adresse und ggf. weitere von Google für den
        unsichtbaren reCAPTCHA-Dienst benötigte Daten an Google übermittelt.
        Diese Daten werden von Google innerhalb der Europäischen Union und,
        soweit erforderlich, auch in den USA verarbeitet. Für die USA liegt kein
        Angemessenheitsbeschluss der EU-Kommission vor. Die Datenübermittlung
        erfolgt u. a. auf der Grundlage von Standardvertragsklauseln als
        angemessene Garantien für den Schutz personenbezogener Daten, die unter
        https://policies.google.com/privacy/frameworks abrufbar sind. Die
        Verarbeitung erfolgt auf der Grundlage von Artikel 6 Absatz 1 Buchstabe
        f) DSGVO aufgrund unseres berechtigten Interesses am Schutz unserer
        Website vor automatisiertem Ausspähen, Missbrauch und SPAM. Sie haben
        das Recht, aus Gründen, die sich aus Ihrer besonderen Situation ergeben,
        jederzeit gegen diese Verarbeitung Sie betreffender personenbezogener
        Daten, die gemäß Artikel 6 Absatz 1 Buchstabe f DSGVO erfolgt,
        Widerspruch einzulegen. Ausführlichere Informationen zu Google reCAPTCHA
        und den dazugehörigen Datenschutzbestimmungen finden Sie unter:
        https://www.google.com/recaptcha/intro/android.html und
        https://www.google.com/privacy.
      </p>
      <h2 class="text-2xl mt-6 font-bold text-gray-900 mb-6">
        Beschwerderecht bei der Aufsichtsbehörde
      </h2>
      <p>
        Sie haben gemäß Art. 77 DSGVO das Recht, sich bei der Aufsichtsbehörde
        zu beschweren, wenn Sie der Ansicht sind, dass die Verarbeitung Ihrer
        personenbezogenen Daten nicht rechtmäßig erfolgt.
      </p>
    </article>
  </div>
</main>

<style>
  @media (width <= 767px) {
    main {
      padding: 2rem;
    }

    p {
      margin-bottom: 4rem;
    }
  }
</style>
